{% comment %}
@param {string} type - 'page' | 'post'
@param {boolean} short
{% endcomment %}

{% if include.type == 'post' %}
<header class="intro-header">
    <div class="wrap">
        <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subheading">{{ page.subtitle }}</h2>{% endif %}
            <span class="meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.tags.size > 0 %} &middot; {% for tag in page.tags %}<a href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}</span>
        </div>
    </div>
</header>
{% endif %}

{% if include.type == 'page' %}
<header class="intro-header {% if page.hide-title %}title-hidden{% endif %}">
    <div class="wrap">
        <div class="site-heading{% if page.hide-title %}{% unless page.description and page.description != "" %} site-heading--minimal{% endunless %}{% endif %}"{% if include.short %} id="tag-heading"{% endif %}>
            {% unless page.hide-title %}
            <h1 class="page-title">{% if page.title %}{{ page.title }}{% endif %}</h1>
            {% endunless %}
            {% if page.description and page.description != "" %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
        </div>
    </div>
</header>
{% endif %}
