{% comment %}
@param {string} type - 'page' | 'post'
@param {boolean} short
{% endcomment %}

{% if include.type == 'post' %}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %} always create a h2 for keeping the margin {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    <span class="meta">by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}
                        on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}

{% if include.type == 'page' %}
<header class="intro-header {% if page.hide-title %}title-hidden{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if include.short %}
                <div class="site-heading" id="tag-heading">
                    {% unless page.hide-title %}
                    <h1 class="page-title">{% if page.title %}{{ page.title }}{% endif %}</h1>
                    {% endunless %}
                    {% if page.description %}
                    <span class="subheading">{{ page.description }}</span>
                    {% endif %}
                </div>
                {% else %}
                <div class="site-heading">
                    {% unless page.hide-title %}
                    <h1 class="page-title">{% if page.title %}{{ page.title }}{% endif %}</h1>
                    {% endunless %}
                    {% if page.description %}
                    <span class="subheading">{{ page.description }}</span>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
{% endif %}