.profile {
    img {
        display: block;
        width: 100%;
        margin-top: 20px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}
.address {
    font-family: 'Palanquin', sans-serif;
    p { margin: 0; color: #212529;}
    h1 { margin: 0; padding:0; color: #212529; font-size:1.8em; font-family: 'Julius Sans One', sans-serif;}
    margin: 0 0 20px;
}

.twitter-stream {
    margin: 0;
}

.news {
    margin-top: 30px;
    font-size: small;
    h4 {
        font-family: 'Julius Sans One', sans-serif;
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;

        .date { width: 13%; }
        .announcement { width: 87%; }

        tr { text-align: left; }
        td {
            padding: 4px 0;
            vertical-align: top;
            border: none;
        }
    }
}

.social {
    border-top: 1px solid $grey-color-light;
    margin-top: 50px;
    padding-top: 20px;
}