<div class="profile">
    <img src="{{ '/img/rabiul+profic.png' | prepend: site.baseurl }}" alt="Rabiul Awal Photo">
    <div class="profile-content">
        <p>I'm a PhD student at <a href="https://mila.quebec/en/">Mila - Quebec AI Institute</a> and <a href="https://www.umontreal.ca/en/">University of Montreal</a> with <a href="https://www.iro.umontreal.ca/~agrawal/">Aishwarya Agrawal</a>. I was previously a visiting researcher at <a href="https://www.servicenow.com/research/people.html">ServiceNow Research</a>. I received an MSc in CS from <a href="https://www.cs.usask.ca/">University of Saskatchewan</a> and BSc in CS from <a href="https://nstu.edu.bd/">Noakhali Science and Technology University</a>.</p>
        <div class="social-links">
            <div class="column column-22">
                <a class="icons-sm git-ic" href="https://github.com/rabiulcste" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> github</a>
            </div>
            <div class="column column-22">
                <a class="icons-sm twitter-ic" href="https://twitter.com/_rabiulawal" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i> twitter</a>
            </div>
            <div class="column column-22">
                <a class="icons-sm email-ic" href="mailto:awalrabiul6@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i> email</a>
            </div>
            <div class="column column-22">
                <a href="{{ site.baseurl }}/assets/rabiul_awal_resume.pdf" target="_blank" rel="noopener noreferrer"><i class="fas fa-download"></i> cv</a>
            </div>
            <div class="column column-12">
                <a href="{{ site.baseurl }}/assets/bio.txt" target="_blank" rel="noopener noreferrer"><i class="fas fa-file-alt"></i> bio</a>
            </div>
        </div>
    </div>
</div>
