<div class="profile">
    <picture>
        <source type="image/webp" srcset="{{ '/img/rabiul-profic.webp' | prepend: site.baseurl }}">
        <img src="{{ '/img/rabiul-profic.jpg' | prepend: site.baseurl }}" width="148" height="148" alt="" decoding="async">
    </picture>
    <div class="profile-bio">
        <p>I work on generative models, world models, and reinforcement learning. I'm a PhD student at <a href="https://mila.quebec/en/" target="_blank">Mila</a> and <a href="https://www.umontreal.ca/en/" target="_blank">University of Montreal</a>, advised by <a href="https://www.iro.umontreal.ca/~agrawal/" target="_blank">Aishwarya Agrawal</a>. This summer I'll join <a href="https://www.qualcomm.com/research/artificial-intelligence" target="_blank">Qualcomm Research</a> in Amsterdam as an intern.</p>
        <div class="social-links">
            <a class="icons-sm git-ic" href="https://github.com/rabiulcste" target="_blank">{% include svg-icon.html name='github' %} github</a>
            <a class="icons-sm twitter-ic" href="https://twitter.com/_rabiulawal" target="_blank">{% include svg-icon.html name='twitter' %} twitter</a>
            <a class="icons-sm email-ic" href="mailto:awalrabiul6@gmail.com">{% include svg-icon.html name='envelope' %} email</a>
            <a href="{{ site.baseurl }}/assets/rabiul_awal_resume.pdf" target="_blank">{% include svg-icon.html name='download' %} cv</a>
            <a href="https://scholar.google.ca/citations?user=oOcLfUMAAAAJ&hl=en" target="_blank">{% include svg-icon.html name='file' %} scholar</a>
        </div>
    </div>
</div>
