---
layout: page
---

{% if page.profile %}
<div class="profile col one {{ page.profile.align }}">
    {% if page.profile.image %}
    <img class="one"
         src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    {% if page.profile.address %}
    <div class="address">
        {{ page.profile.address }}
    </div>
    {% endif %}
    <a class="twitter-timeline" data-tweet-limit="1" href="https://twitter.com/RabiulAoal?ref_src=twsrc%5Etfw">Tweets by
        RabiulAoal</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
{% endif %}

{{ content }}
