---
layout: page
---

{% if page.profile %}
<div class="profile col one {{ page.profile.align }}">
    {% if page.profile.image %}
    <img class="one"
         src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    {% if page.profile.address %}
    <div class="address">
        {{ page.profile.address }}
        <a href="https://twitter.com/RabiulAoal"><i class="fab fa-twitter"></i></a>
        <a href="https://scholar.google.com/citations?user=oOcLfUMAAAAJ&hl=en"><i class="ai ai-google-scholar"></i></a>
        <a href="https://github.com/rabiulcste"><i class="fab fa-github"></i></a>
        <a href="https://soundcloud.com/rabiulawal"> <i class="fab fa-soundcloud"> </i></a>
    </div>

<!--    <div class="twitter-stream">-->
<!--        <a class="twitter-timeline" data-tweet-limit="1" href="https://twitter.com/RabiulAoal?ref_src=twsrc%5Etfw">Tweets-->
<!--            by RabiulAoal</a>-->
<!--        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--    </div>-->
    {% endif %}


</div>
{% endif %}

{{ content }}
