
{{reference}}



{% if entry.abstract %}
  <a href="{{ entry.abstract }}">
    <button>Abstract</button>
  </a>
{% endif %}
{% if entry.doi %}
  <a href="{{ entry.doi | prepend: 'http://doi.org/' }}">
    <button>DOI</button>
  </a>
{% endif %}
{% if entry.preprint %}
  <a href="{{ entry.preprint }}">
    <button>Preprint</button>
  </a>
{% endif %}
{% if entry.url %}
  <a href="{{ entry.url }}">
    <button>URL</button>
  </a>
{% endif %}
{% if entry.code %}
  <a href="{{ entry.code }}">
    <button>Code</button>
  </a>
{% endif %}
{% if entry.pdf %}
  <a href="{{ entry.pdf }}">
    <button>PDF</button>
  </a>
{% endif %}

