<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

     {% if page.layout == "About"  %}
        <div class="page-content">
          <div class="abstract-wrapper">
            {{ content }}
          </div>
        </div>
    {% else %}
        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
    {% endif %}

    {% include footer.html %}

    {% include hemline.html %}

  </body>

</html>
